body {
	font: 0.91em/1.3 sans-serif;
	max-width: 50em;
}
ul {
	padding-left: 1.5em;
}
label {
	float: left;
	width: 8em;
}
input {
	font: inherit;
	margin-bottom: 0.5em;
}
input[type="text"],
input[type="number"] {
	padding: 1px 3px;
}
input[type="number"] {
	width: 5em;
}
input[type="submit"] {
	padding: 1px 12px;
	cursor: pointer;
}
#msg {
	display: none;
	text-align: center;
}
#url,
#local {
	display: none;
}
#loader {
	padding: 2px;
	text-align: center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	z-index: 999999;
	background: #eee;
	background-image: url("../images/loader.gif");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.5;
	display: none;
}
